@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@model task_sync_web.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "パスワード変更";
}


<style>

    a, a:hover {
        color: #333
    }

     .cw-250 {
        width: 80%;
    } 

     #eye-change-pass {
        float: right;
        left: -30px !important;
        top: 10px;
        position: relative;
        z-index: 3;
    } 


    .input-group > .form-control:focus,
    .input-group > .custom-select:focus,
    .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
        z-index: 3;
    }



</style>


<!--jquery-1.12.4↓-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!--jquery-1.12.4↑-->


<div class="card shadow m-4 changePassword inner">
    <div class="card-header text-gray-800">
        <h4>パスワード変更</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border-left-custom">
                    <div class="card-body py-2 font-weight-bold">
                        パスワードは1～10文字の半角英数字(小文字)が使用できます。
                    </div>
                </div>
            </div>
        </div>

        <div class="valid-area">
            @{
                var errMess = ViewData["Error"] as string;
                if (errMess != null)
                {
                    <ul>
                        <li class="text-danger">@errMess</li>
                    </ul>
                }

                var messages = ViewData["Success"] as string;
                if (messages != null)
                {
                    <ul>
                        <li class="text-success">@messages</li>
                    </ul>
                }
            }
        </div>

        <form id="changePasswordForm" method="post" class="my-4" asp-controller="PasswordChange" enctype="multipart/form-data" onsubmit="return true;">
            <div class="form-group row" style="display:none;">
                <div class="col-xl-2">
                    <label class="col-xl-12 col-form-label">
                        @Html.DisplayNameFor(Model => Model.CurrentUserCode)
                    </label>
                </div>
                <div class="col-xl-3">
                    <div class="input-group mr-xl-2 cw-250">
                        <input type="text" asp-for="@Model.CurrentUserCode" class="form-control rounded mr-3" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-1">
                <div class="col-xl-2">
                    <label for="inputPassword" class="col-xl-12 col-form-label">
                        @Html.DisplayNameFor(Model => Model.CurrentPass)
                    </label>
                </div>
                <div class="col-xl-3">
                    <div class="input-group mr-xl-2 cw-250" id="show_hide_currentpass">
                        <input type="password" asp-for="@Model.CurrentPass" class="form-control rounded" placeholder="現在のパスワード" maxlength="10" autocomplete="new-password" />
                        <a href="">
                            <i class="fas fa-eye-slash" id="eye-change-pass"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-1">
                <div class="col-xl-2">
                    <label for="inputPassword" class="col-xl-12 col-form-label">
                        @Html.DisplayNameFor(Model => Model.NewPass)
                    </label>
                </div>

                <div class="col-xl-3">
                    <div class="input-group mr-xl-2 cw-250" id="show_hide_newpass">
                        <input type="password" asp-for="@Model.NewPass" class="form-control rounded" placeholder="新しいパスワード" maxlength="10" />
                        <a href="">
                            <i class="fas fa-eye-slash" id="eye-change-pass"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-1">
                <div class="col-xl-2">
                    <label for="inputPassword" class="col-xl-12 col-form-label">
                        @Html.DisplayNameFor(Model => Model.ConfirmPass)
                    </label>
                </div>
                <div class="col-xl-3">
                    <div class="input-group mr-xl-2 cw-250" id="show_hide_confirmpass">
                        <input type="password" asp-for="@Model.ConfirmPass" class="form-control rounded" placeholder="再度、新しいパスワード" maxlength="10" />
                        <a href="">
                            <i class="fas fa-eye-slash" id="eye-change-pass"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-1">
                <div class="col-xl-2"></div>
                <div class="col-xl-2">
                        <button name="submitButton" value="更新" class="btn btn-secondary btn-custom"
                                type="submit" asp-action="Index">
                            <i class="fas fa-check"></i>
                            <span class="text">更新</span>
                        </button>
                </div>
            </div>
        </form>

        @*
        // else
        // {
        //     <p class="text-danger">E2010 アクセス権限がありません。</p>
        // }
        *@
    </div>
</div>


<script type="text/javascript">

    $("#show_hide_currentpass a").on('click', function (event) {
        event.preventDefault();
        if ($('#show_hide_currentpass input').attr("type") == "text") {
            $('#show_hide_currentpass input').attr('type', 'password');
            $('#show_hide_currentpass i').addClass("fa-eye-slash");
            $('#show_hide_currentpass i').removeClass("fa-eye");
        } else if ($('#show_hide_currentpass input').attr("type") == "password") {
            $('#show_hide_currentpass input').attr('type', 'text');
            $('#show_hide_currentpass i').removeClass("fa-eye-slash");
            $('#show_hide_currentpass i').addClass("fa-eye");
        }
    });

    $("#show_hide_newpass a").on('click', function (event) {
        event.preventDefault();
        if ($('#show_hide_newpass input').attr("type") == "text") {
            $('#show_hide_newpass input').attr('type', 'password');
            $('#show_hide_newpass i').addClass("fa-eye-slash");
            $('#show_hide_newpass i').removeClass("fa-eye");
        } else if ($('#show_hide_newpass input').attr("type") == "password") {
            $('#show_hide_newpass input').attr('type', 'text');
            $('#show_hide_newpass i').removeClass("fa-eye-slash");
            $('#show_hide_newpass i').addClass("fa-eye");
        }
    });

    $("#show_hide_confirmpass a").on('click', function (event) {
        event.preventDefault();
        if ($('#show_hide_confirmpass input').attr("type") == "text") {
            $('#show_hide_confirmpass input').attr('type', 'password');
            $('#show_hide_confirmpass i').addClass("fa-eye-slash");
            $('#show_hide_confirmpass i').removeClass("fa-eye");
        } else if ($('#show_hide_confirmpass input').attr("type") == "password") {
            $('#show_hide_confirmpass input').attr('type', 'text');
            $('#show_hide_confirmpass i').removeClass("fa-eye-slash");
            $('#show_hide_confirmpass i').addClass("fa-eye");
        }
    });

    $(document).ready(function () {
        console.log('running');
        // $('input[type=password]').val('');
    });

</script>
