@using task_sync_web.Commons;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskSync</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?@DateTime.Now" />

    <!--Bootstrap admin template-->
    <link rel="stylesheet" href="~/lib/startbootstrap-sb-admin-gh-pages/css/styles.css" />

    <!--Font Awesome Free 5.15.3-->
    <link rel="stylesheet" href="~/font/icon/fontawesome-free/css/all.min.css" type="text/css">

    <!--Micromodal.js-->
    <link rel="stylesheet" href="~/css/micromodal.css" />

</head>
@{
    var cookie = Context.Request.Cookies["Sidebar"];
    if (string.IsNullOrWhiteSpace(cookie))
    {
        cookie = "sb-nav-fixed";
    }
}
<body class="@cookie">
    <nav class="sb-topnav navbar navbar-expand navbar-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-controller="Home" asp-action="Index">TaskSync</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

        </div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><div class="ps-4 pt-3 small fw-bold">会社名</div></li>
                    <li><div class="ps-5 pt-1">@User.Claims.Where(c => c.Type == CustomClaimTypes.ClaimType_CampanyName).First().Value</div></li>
                    <li><div class="ps-4 pt-3 small fw-bold">管理者名</div></li>
                    <li><div class="ps-5 pt-1 pb-3">@User.Claims.Where(c => c.Type == CustomClaimTypes.ClaimType_AdministratorLoginId).First().Value : @User.Claims.Where(c => c.Type == CustomClaimTypes.ClaimType_AdministratorName).First().Value</div></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item p-4 fw-bold" asp-area="" asp-controller="PasswordChange" asp-action="Index"><i class="fas fa-lock fa-fw"></i> パスワード変更</a></li>
                    <li><a class="dropdown-item p-4 fw-bold" id="logout-button" href="#" role="button" data-micromodal-trigger="modal-logout"><i class="fas fa-sign-out-alt fa-fw"></i> ログアウト</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">データ</div>
                        <a class="nav-link" asp-area="" asp-controller="DTaskRecord" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="far fa-file-alt fa-fw"></i></div>
                            作業実績
                        </a>
                        <div class="sb-sidenav-menu-heading">管理</div>
                        <a class="nav-link collapsed" asp-area="" asp-controller="Home" asp-action="Index" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-wrench fa-fw"></i></div>
                            マスター
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="MAdministrator" asp-action="Index">管理者マスター</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="MTaskUser" asp-action="Index">作業者マスター</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="MTaskItem" asp-action="Index">作業項目マスター</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="MInterruptReason" asp-action="Index">中断理由マスター</a>
                            </nav>
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-area="" asp-controller="MSystemSetting" asp-action="Index">システム設定</a>
                            </nav>
                        </div>
                    </div>
                </div>
@*                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>*@
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; TOZAN 2023</div>
                        <div>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="modal micromodal-slide" id="modal-logout" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-logout-title">
                <header class="modal__header">
                    <h3>確認</h3>
                    <button class="btn btn-custom  btn-lg" aria-label="Close modal" data-micromodal-close><i class="fas fa-times"></i></button>
                </header>
                <main class="modal__content">
                    <p>
                        ログアウトします。よろしいですか？
                    </p>
                </main>
                <footer class="modal__footer d-grid gap-2">
                    <a class="btn btn-custom btn-lg" asp-controller="Login" asp-action="Logout">ログアウト</a>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!--Bootstrap admin template-->
    <script src="~/lib/startbootstrap-sb-admin-gh-pages/js/scripts.js"></script>

    <!--datepicker-->
    <!--Micromodal.js-->
    <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>

    <!--jQueryの動的validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    MicroModal.init({
        disableFocus: true,
        awaitOpenAnimation: true,
        awaitCloseAnimation: true
    });

    $(document).ready(function () {
        $('#sidebarToggle').click(function () {
            $.removeCookie('Sidebar', { path: '/' });
            document.body.classList.toggle('sb-sidenav-toggled');
            let expDate = new Date();
            expDate.setTime(expDate.getTime() + (30 * 60 * 1000)); // add 30 minutes
            let className = $('body').attr('class');
            $.cookie('Sidebar', className);
            console.log({className});
        });
    })

</script>