@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@model MSystemSettingViewModel
@{
    ViewData["Title"] = @Model.DisplayName;
    var pagedList = Model.SystemSettingModels;
}

<style>
    .modal__container {
        max-width: 800px !important; /* モーダルの幅を設定  */
        width: 800px !important; /* モーダルの幅を設定  */
    }
</style>

<div class="h4 mb-3">
    @{
        ViewData["Title"] = @Model.DisplayName;
    }
</div>
<div class="card shadow m-4">
    <div class="card-header">
        <h3 class="pt-2">@Model.DisplayName</h3>
    </div>
    <div class="card-body">
        <div class="p-2">
            <form id="system-setting-form" class="form-inline" asp-controller="MSystemSetting" enctype="multipart/form-data" method="get">
                <div class="row">
                    <div class="form-group col-auto">
                        <div class="input-group">
                            <input class="form-control form-control-lg" asp-for="SearchKeyWord" name="SearchKeyWord" type="text" placeholder="キーワードを入力" aria-describedby="btnNavbarSearch" />
                            <button class="btn btn-search btn-lg" asp-action="Index" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-auto my-2">
                <span class="text-success-custom">@ViewData["SuccessMessage"]</span>
                <span class="text-danger-custom">@ViewData["ErrorMessage"]</span>
            </div>

            <div>
                <table class="table sticky_table table-hover-evant mt-3">
                    <thead>
                        <tr>
                            <th style="width: 10%">@Html.DisplayNameFor(model => model.SystemSettingModels[0].SystemSettingId)</th>
                            <th style="width: 20%">@Html.DisplayNameFor(model => model.SystemSettingModels[0].SystemSettingOutline)</th>
                            <th style="width: 10%">@Html.DisplayNameFor(model => model.SystemSettingModels[0].SystemSettingDetail)</th>
                            <th style="width: 8%">@Html.DisplayNameFor(model => model.SystemSettingModels[0].SystemSettingValue)</th>
                            <th style="width: 30%">@Html.DisplayNameFor(model => model.SystemSettingModels[0].SystemSettingStringValue)</th>
                            <th style="width: 15%">@Html.DisplayNameFor(model => model.SystemSettingModels[0].UpdateDateTime)</th>
                            <th style="width: 20%">@Html.DisplayNameFor(model => model.SystemSettingModels[0].UpdateLoginInfor)</th>
                        </tr>
                    </thead>

                    @if (Model != null && pagedList != null && pagedList.Count > 0)
                    {
                        <tbody>
                            @foreach (var item in pagedList)
                            {
                                <tr role="button" onclick="SystemSettingEditView('@item.SystemSettingId')">
                                    <td class="text-right">
                                        @Html.DisplayFor(model => item.SystemSettingId)
                                        </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(model => item.SystemSettingOutline)
                                    </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(model => item.SystemSettingDetail)
                                        </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(model => item.SystemSettingValue)
                                        </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(model => item.SystemSettingStringValue)
                                        </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.UpdateDateTime)
                                        </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(model => item.UpdateLoginInfor)</td>
                                </tr>
                            }
                        </tbody>
                    }

                </table>
            </div>

            @if (pagedList != null)
            {
                <div class="mt-3">
                    <span class="page-no-label">
                        @pagedList.FirstItemOnPage - @pagedList.LastItemOnPage 件 / @pagedList.TotalItemCount 件中
                    </span>
                    @Html.PagedListPager((IPagedList)pagedList, pageNumber => Url.Action("Index", new {searchKeyWord = Model.SearchKeyWord, pageNumber = pageNumber }),
                new PagedListRenderOptions
                {
                UlElementClasses = new string [] {"pagination flex-wrap"},
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                MaximumPageNumbersToDisplay = 10, //表示するページャーの数
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded, //「次へ」の非表示設定
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, //「前へ」の非表示設定
                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, //「最初へ」の非表示設定
                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded, //「最後へ」の表示設定
                })
                </div>
            }
        </div>

    </div>

</div>

    @await Html.PartialAsync("_Edit");


@section Scripts {
    <script>

        function SystemSettingEditView(systemSettingId) {
            var form = $(document).find('#system-setting-form');
            var input1 = $("<input>").attr("type", "hidden").attr("name", "editSystemSettingId").val(systemSettingId);
            $(form).append($(input1));
            form.submit();
        }

        $(function () {
            if (@Model.SystemSettingEditModel.SystemSettingId > 0) {
                MicroModal.show('modal-system-setting-edit');
            }
        });

    </script>
}