@model HomeViewModel
@{
    ViewData["Title"] = @Model.DisplayName;
}

<style>
    #usedivice-calcel-btn:hover{
        background-color:var(--maincolor)!important;
        color:#ffffff!important;
    }

    a.manual-link {
        text-decoration: none;
        color:var(--fontcolor);
    }

    a.manual-link:hover {
        color: var(--maincolor);
    }

    .manual-icon{
        padding-right:2px;
        color: var(--maincolor);
    }

    .hashtag-icon {
        padding-right: 1px;
        color: var(--fontcolor);
        font-size: 20px;
    }

    #use-device-downloadcode-area, #use-device-view-area {
        font-weight: 500;
        padding: 0.2rem;
        /* margin-bottom: 0.2rem; */
        background: linear-gradient(transparent 60%, var(--sublightcolor) 80%);
        display:inline-block;
    }

    .use-device-downloadcode, .use-device-text, .app-version {
        font-size: 20px;
        font-weight: 700;
    }

    .company-message{
        font-size: 20px;
        color: var(--maincolor);
        font-weight: 700;
    }

    .app-virsion {
        font-size: 15px;
        padding-left:5px;
    }
</style>

<div class="card shadow m-4">
    <div class="card-header">
        <h3 class="pt-2">ホーム</h3>
    </div>
    <div class="card-body">

        @if (!String.IsNullOrEmpty(Model.CompanyMessageBySystem))
        {
            <h4 class="p-2"><i class="fas fa-hashtag fa-fw hashtag-icon"></i>@Html.DisplayNameFor(model => model.CompanyMessageBySystem)</h4>
            <div class="ps-5 pb-1">
                <span class="pe-2">
                    <span class="company-message">@Model.CompanyMessageBySystem</span>
                </span>
            </div>
            <hr size="2">
        }

        <h4 class="p-2"><i class="fas fa-hashtag fa-fw hashtag-icon"></i>システムマニュアル</h4>
        <div class="ps-5 pb-1">
            <ul>
                <li>
                    <a class="manual-link" target="_blank" href="~/manual/【スマホで作業記録】スマホアプリ マニュアル.pdf">
                        <i class="fas fa-file fa-fw manual-icon"></i>スマホアプリ マニュアル.pdf
                    </a>
                </li>
                <li>
                    <a class="manual-link" target="_blank" href="~/manual/【スマホで作業記録】Web管理画面 マニュアル.pdf">
                        <i class="fas fa-file fa-fw manual-icon"></i>Web管理画面 マニュアル.pdf
                    </a>
                </li>
            </ul>
        </div>

        <hr size="2">
        <h4 class="p-2"><i class="fas fa-hashtag fa-fw hashtag-icon"></i>利用デバイスIDのご利用状況</h4>
        <div class="ps-5 pb-2">

            <div id="use-device-downloadcode-area">
                <span class="pe-2">
                    @Html.DisplayNameFor(model => model.SmartphoneAppDownloadCode)：<span class="use-device-downloadcode">@Model.SmartphoneAppDownloadCode</span>
                </span>
                <span class="pe-2">
                    @Html.DisplayNameFor(model => model.SmartphoneAppMinVersion)：<span class="app-version">@Model.SmartphoneAppMinVersion</span>
                </span>
            </div>
            <ul class="pt-2">
                <li>
                    スマホアプリの初回インストール方法は、スマホアプリ マニュアルの『初回アプリのインストール』をご覧ください。
                </li>
            </ul>

            <div>
                <div id="use-device-view-area">
                    <span class="pe-2" style="display:inline-block;">
                        @Html.DisplayNameFor(model => model.UseDeviceEnableCount)：<span class="use-device-text">@Model.UseDeviceEnableCount</span> 件
                    </span>
                    <span class="pe-2" style="display:inline-block;">
                        @Html.DisplayNameFor(model => model.UseDeviceCount)：<span class="use-device-text">@Model.UseDeviceCount </span> 件
                    </span>
                    <span class="" style="display:inline-block;">
                        @Html.DisplayNameFor(model => model.NotUseDeviceCount)：<span class="use-device-text">@Model.NotUseDeviceCount </span> 件
                    </span>
                </div>
                <ul class="pt-2">
                    <li>
                        登録日時は、スマホアプリで会社ログインを行った日時です。
                    </li>
                    <li>
                        解除を行うと、スマホアプリで作業者ログインができなくなります。
                    </li>
                </ul>
            </div>

            <div class="col-auto">
                <span class="text-success-custom">@ViewData["SuccessMessage"]</span>
                <span class="text-danger-custom">@ViewData["ErrorMessage"]</span>
            </div>

            <!--デバイス解除送信用フォーム-->
            <div class="">
                <form id="usedevice-cancel-form" asp-action="Index" method="post"></form>
                <table class="sticky_table table-hover-evant mt-3">
                    <thead>
                        <tr>
                            <th style="">@Html.DisplayNameFor(model => model.UseDeviceStatusModels[0].UseDeviceId)</th>
                            <th style="">@Html.DisplayNameFor(model => model.UseDeviceStatusModels[0].DeviceName)</th>
                            <th style="">@Html.DisplayNameFor(model => model.UseDeviceStatusModels[0].Model)</th>
                            <th style="">@Html.DisplayNameFor(model => model.UseDeviceStatusModels[0].Manufacturer)</th>
                            <th style="">@Html.DisplayNameFor(model => model.UseDeviceStatusModels[0].UseDeviceEnableDateString)</th>
                            <th style="">@Html.DisplayNameFor(model => model.UseDeviceStatusModels[0].RegistDateTimeString)</th>
                            <th style="min-width:50px;"></th>
                        </tr>
                    </thead>

                    @if (Model != null)
                    {
                        <tbody>
                            @foreach (var item in @Model.UseDeviceStatusModels)
                            {
                                <tr>
                                    <td class="">@Html.DisplayFor(model => item.UseDeviceId)</td>
                                    <td class="">@Html.DisplayFor(model => item.DeviceName)</td>
                                    <td class="">@Html.DisplayFor(model => item.Model)</td>
                                    <td class="">@Html.DisplayFor(model => item.Manufacturer)</td>
                                    <td class="">@Html.DisplayFor(model => item.UseDeviceEnableDateString)</td>
                                    <td class="">@Html.DisplayFor(model => item.RegistDateTimeString)</td>
                                    <td style="min-width:50px;">
                                        @if (@item.UseDeviceStatusId > 0)
                                        {
                                            <button type="submit" id="usedivice-calcel-btn" class="btn btn-custom" onclick="UseDeviceCancelConfirm(@item.UseDeviceStatusId)">解除</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>

        </div>


    </div>
</div>

<!--デバイス解除確認モーダル-->
<div class="modal micromodal-slide" id="modal-usedivice-calcel" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-logout-title">
            <header class="modal__header">
                <h3>確認</h3>
                <button class="btn btn-custom  btn-lg" aria-label="Close modal" data-micromodal-close><i class="fas fa-times"></i></button>
            </header>
            <main class="modal__content">
                <p>
                    ご利用中のデバイスを解除します。よろしいですか？
                    <input type="hidden" id="usedevice-cancel-done-input"/>
                </p>
            </main>
            <footer class="modal__footer d-grid gap-2">
                <a id="usedevice-cancel-done-btn" class="btn btn-custom btn-lg" onclick="UseDeviceCancelDone();">解除</a>
            </footer>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        const usedeviceCancelForm = '#usedevice-cancel-form';
        const usedeviceCancelIdInput = '#usedevice-cancel-done-input';

        function UseDeviceCancelDone() {
            var form = $(document).find(usedeviceCancelForm);
            var useDeviceStatusId = $(usedeviceCancelIdInput).val();
            var input = $("<input>").attr("type", "hidden").attr("name", "cancelUseDeviceStatusId").val(useDeviceStatusId);
            $(form).append($(input));
            form.submit();
        }

        function UseDeviceCancelConfirm(usedeviceStatusId) {
            $(usedeviceCancelIdInput).val(usedeviceStatusId);
            MicroModal.show('modal-usedivice-calcel');
        }

    </script>
}

