@model DTaskInterruptModalEditViewModel

<div class="modal micromodal-slide is-open" id="modal-2" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h3 id="modal-1-title" class="fw-bold">修正</h3>
                <button class="btn btn-custom btn-lg" aria-label="Close modal" id="btnmodalclose" onclick="closeModal()" data-micromodal-close><i class="fas fa-times"></i></button>
            </header>
            <div class="form-group text-left message-error-area mx-3 modale-rror">

            </div>
            <div class="p-3 mx-2 bg-light text-dark my-3 interruptmodal">
                <h3 id="modal1" class="">@Model.TaskUserLoginId &nbsp;&nbsp; @Model.TaskUserName</h3>
                <div style="margin-left: 35px;">
                    <ul>
                        <li>作業記録 : @Model.TaskStartDateTrackTime ― @Model.TaskEndDateTrackTime (@{@Model.TaskTrackTotalTime}分)</li>
                        <li>中断記録 : @{@Model.TaskInterruptTrackTotalTime}分</li>
                    </ul>
                </div>
            </div>

            <form method="post" asp-controller="DTaskRecord" asp-action="Edit" enctype="multipart/form-data" class="mt-3" id="editform">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.TaskRecordId)
                @Html.HiddenFor(model => model.TaskUserId)
                <div class="form-group my-3 row">
                    <label class="small fw-bold">@Html.DisplayNameFor(model => model.TaskStartDate)</label>
                    <div class="col-xl-4">
                        <input asp-for="TaskStartDate" class="form-control form-control-lg datepicker" id="TaskStartDate" type="text" />
                    </div>
                    <div class ="col-xl-4">
                        <input asp-for="TaskStartTime" value=@Model.TaskStartTime step="1" class="form-control form-control-lg col-xl-6" id="TaskStartTime" type="time" />
                    </div>
                </div>
                <div class="form-group my-3 row">
                    <label class="small fw-bold">@Html.DisplayNameFor(model => model.TaskEndDate)</label>
                    <div class="col-xl-4">
                        <input asp-for="TaskEndDate" class="form-control form-control-lg datepicker" id="TaskEndDate" type="text" />
                    </div>
                    <div class="col-xl-4">
                        <input asp-for="TaskEndTime" value=@Model.TaskEndTime step="1" class="form-control form-control-lg col-xl-6" id="TaskEndTime" type="time" />
                    </div>
                </div>
                <div class="form-group my-3 row">
                    <div class="col-xl-4">
                        <label class="small fw-bold">@Html.DisplayNameFor(model => model.TaskInterruptTotalTime)</label>
                        <input asp-for="TaskInterruptTotalTime" class="form-control form-control-lg" id="TaskInterruptTotalTime" min="0" step="1" type="number"
                               onkeypress="return onlyNumberKey(event)"
                               onchange="change_viewport_0(this.id)" />
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <div class="col-xl-8">
                        <label class="small fw-bold">@Html.DisplayNameFor(model => model.TaskItemCode_PrimaryItem_SecondaryItem_TertiaryItem)</label>
                        <input asp-for="TaskItemCode_PrimaryItem_SecondaryItem_TertiaryItem" class="form-control form-control-lg　ui-autocomplete" id="TaskItem" type="text" />
                    </div>
                </div>

                <div class="form-group my-3 row">
                    <label class="small fw-bold">@Html.DisplayNameFor(model => model.Remark)</label>
                    <input asp-for="Remark" class="form-control form-control-lg" id="Remark" type="text" />
                    <span asp-validation-for="Remark" class="text-danger-custom"></span>
                </div>

                <div class="form-group mt-4 row">
                    <div class="d-inline-block">
                        <label class="ECM_CheckboxInput">
                            <input class="ECM_CheckboxInput-Input" type="checkbox" asp-for="IsDelete" id="IsDelete">
                            <span class="ECM_CheckboxInput-DummyInput"></span>
                            <span class="ECM_CheckboxInput-LabelText">@Html.DisplayNameFor(model => model.IsDelete)</span>
                        </label>
                    </div>
                </div>

                @* <div class="form-group mt-4 row">
                    <div class="col-xl-4 form-check">
                        <input asp-for="IsDelete" class="form-check-input" id="IsDelete" type="checkbox" />
                        <label class="fw-bold form-check-label">@Html.DisplayNameFor(model => model.IsDelete)</label>
                    </div>
                </div> *@

                <footer class="modal__footer text-right mt-2">
                    <button class="btn btn-custom btn-lg" type="button" id="btnsubmit" onclick="SubmitForm()">
                        <span class="p-2">
                            <i class="fas fa-check fa-fw"></i> 更新
                        </span>
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>