@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@model MInterruptReasonViewModel
@{
    ViewData["Title"] = @Model.DisplayName;
    var pagedList = Model.InterruptReasonModels;
}

<style>
    .modal__container {
        max-width: 800px !important; /* モーダルの幅を設定  */
        width: 800px !important; /* モーダルの幅を設定  */
    }

    .readonlyclass:focus {
        background-color: #ced4da;
    }

    .required-mark:after {
        content: "*";
        color: red;
        font-weight: bold;
    }
</style>

<div class="h4 mb-3">
    @{
        ViewData["Title"] = @Model.DisplayName;
    }
</div>

@await Html.PartialAsync("~/Views/MInterruptReason/_Modal.cshtml")

<div class="card shadow m-4">
    <div class="card-header">
        <h3 class="pt-2">@Model.DisplayName</h3>
    </div>
    <div class="card-body">
        <div class="p-2">
            <form id="interrupt-reason-form" class="form-inline" asp-controller="MInterruptReason" enctype="multipart/form-data" method="get">
                <div class="row">
                    <div class="form-group col-auto">
                        <div class="input-group">
                            <button class="btn btn-secondary btn-custom" id="btnNavbarSearch" type="button" role="button" onclick="SubmitForm('-99', 'true')">
                                <i class="fas fa-plus"></i>
                                </button>
                            <input class="form-control" asp-for="SearchKeyWord" type="text" placeholder="キーワードを入力" aria-describedby="btnNavbarSearch" />
                            <input type="hidden" asp-for="PageNumber" name="PageNumber" />
                            <button class="btn btn-secondary btn-custom" asp-action="Index" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-auto mt-4">
                <span class="text-success-custom" id="MessageSuccess">@ViewData["SuccessMessage"]</span>
                <span class="text-danger-custom" id="MessageError">@ViewData["ErrorMessage"]</span>
            </div>

            <div style="overflow-x: scroll;">
                <table class="table sticky_table table-hover-evant mt-3">
                    <thead>
                        <tr>
                            <th style="display: none">@Html.DisplayNameFor(model => model.InterruptReasonModels[0].InterruptReasonId)</th>
                            <th>@Html.DisplayNameFor(model => model.InterruptReasonModels[0].InterruptReasonCode)</th>
                            <th>@Html.DisplayNameFor(model => model.InterruptReasonModels[0].InterruptReasonName)</th>
                            <th>@Html.DisplayNameFor(model => model.InterruptReasonModels[0].Remark)</th>
                            <th>@Html.DisplayNameFor(model => model.InterruptReasonModels[0].IsNotUse)</th>
                            <th>@Html.DisplayNameFor(model => model.InterruptReasonModels[0].CreateAdministratorId)</th>
                            <th>@Html.DisplayNameFor(model => model.InterruptReasonModels[0].CreateDateTime)</th>
                            <th>@Html.DisplayNameFor(model => model.InterruptReasonModels[0].UpdateAdministratorId)</th>
                            <th>@Html.DisplayNameFor(model => model.InterruptReasonModels[0].UpdateDateTime)</th>
                        </tr>
                    </thead>

                    @if (Model != null && pagedList != null && pagedList.Count > 0)
                    {
                        <tbody>
                            @foreach (var item in pagedList)
                            {
                                <tr role="button" onclick="SubmitForm('@item.InterruptReasonId', 'false')">
                                    <td class="text-right" style="display: none">@Html.DisplayFor(model => item.InterruptReasonId)</td>
                                    <td class="text-right">@Html.DisplayFor(model => item.InterruptReasonCode)</td>
                                    <td class="text-left">@Html.DisplayFor(model => item.InterruptReasonName)</td>
                                    <td class="text-left">@Html.DisplayFor(model => item.Remark)</td>
                                    <td class="text-center">@Html.DisplayFor(model => item.IsNotUse)</td>
                                    <td class="text-left">@Html.DisplayFor(model => item.AdministratorIdCreate) &nbsp&nbsp @Html.DisplayFor(model => item.AdministratorNameCreate)</td>
                                    <td class="text-left">@Html.DisplayFor(model => item.CreateDateTime)</td>
                                    <td class="text-left">@Html.DisplayFor(model => item.AdministratorIdUpdate) &nbsp&nbsp @Html.DisplayFor(model => item.AdministratorNameUpdate)</td>
                                    <td class="text-left">@Html.DisplayFor(model => item.UpdateDateTime)</td>
                                </tr>

                            }
                        </tbody>
                    }

                </table>
            </div>

            @if (pagedList != null)
            {
                <div class="mt-3">
                    <span class="page-no-label">
                        @pagedList.FirstItemOnPage - @pagedList.LastItemOnPage 件 / @pagedList.TotalItemCount 件中
                    </span>
                    @Html.PagedListPager((IPagedList)pagedList, pageNumber => Url.Action("Index", new {searchKeyWord = Model.SearchKeyWord, pageNumber = pageNumber }),
                new PagedListRenderOptions
                {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                MaximumPageNumbersToDisplay = 10, //表示するページャーの数
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded, //「次へ」の非表示設定
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded, //「前へ」の非表示設定
                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, //「最初へ」の非表示設定
                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded, //「最後へ」の表示設定
                })
                </div>
            }
        </div>

    </div>

</div>


@section Scripts {

    <script>
        const ROOT = '@Url.Content("~")';
        $(document).ready(function () {

        });

        function SubmitForm(interruptReasonId, modalState) {
            let form = $(document).find('#interrupt-reason-form');
            let inputInterruptReasonId = $("<input>").attr("type", "hidden").attr("name", "ModalModel.InterruptReasonId").val(interruptReasonId);
            let inputModalStatus = $("<input>").attr("type", "hidden").attr("name", "IsModalState").val(modalState);
            $(form).append($(inputInterruptReasonId));
            $(form).append($(inputModalStatus));
            form.submit();
        }

        $(function () {
            if ('@Model.IsModalState' != '') {
                MicroModal.show('modal-system-setting-edit');
            }
        });

    </script>

}
